<header class="container-header">
  <a class="title link" routerLink="">Rick And Morty</a>
  <div class="content-link">
    <a class="link" routerLink="characters">Characters</a>
    <a class="link" routerLink="episodes">Episodes</a>
    <a class="link" routerLink="locations">Locations</a>
  </div>
</header>
<router-outlet></router-outlet>
<div class="container-general">
  <div class="container-grid">
    <div class="Mcard d-none">
      <div class="card-header">
        <img src="../assets/frank.jpg"  class="card-img">
      </div>
      <div class="card-body">
        <span class="info" >Frank</span>
        <div class="cont-info">
          <span class=" more" >Human</span>
          <span class=" more" >Alive</span>
          <span class=" more" >Malo</span>
        </div>
      </div>
    </div>
    <div class="Mcard" *ngFor="let Character of Characters">
      <div class="card-header">
        <img [src]="Character.image" [alt]="Character.name" [title]="Character.name" class="card-img">
      </div>
      <div class="card-body">
        <span class="info" >{{Character.name}}</span>
        <div class="cont-info">
          <span class=" more" >{{Character.species}}</span>
          <span class=" more" >{{Character.status}}</span>
          <span class=" more" >{{Character.gender}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
